run = "npm run dev"
entrypoint = "index.js"
modules = ["nodejs-20:v9-20231020-a3526c9"]
hidden = [".config", "package-lock.json", ".next", ".swc"]

[nix]
channel = "stable-23_05"

[env]
NEXT_TELEMETRY_DISABLED = "1"

[deployment]
build = ["sh", "-c", "npm run build"]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 3000
externalPort = 80
